.RegisterForm
{
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
}

div[id="register-form-main-div"] > h1
{
    position: relative;
    top: 50px;
    left: 50%;
    margin: 0px 0px 0px -100px;
}

#register-form-main-div
{
    background-color: gray;
    position: absolute;
    width: 40%;
    height: 100vh;
    left: 50%;
    margin: -75px 0 0 -17%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#sub-register-form-div
{
    position: absolute;
    top: 40%;
}

div[id="sub-register-form-div"] > input
{
    width: 95%;
    margin: 0px 0px 3px 10px;
}

#register
{
    position: relative;
    left: 50%;
    margin: 10px 0px 0px -75px;
}