button
{
    margin: 10px;
}

#signin-button
{
    position: fixed;
    cursor: pointer;
    right: 50px;
    border: none;
    border-radius: 13%;
}

#register-button
{
    position: fixed;
    cursor: pointer;
    top: 25px;
    right: 50px;
    border: none;
    border-radius: 13%;
}

.sb-avatar
{
    position: fixed;
    cursor: pointer;
    right: 35px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10px;
    /* background-image: url("../../../Resours/accauntImg.PNG"); */
}

#to-rent-out-div
{
    display: inline-block;
    right: 150px;
    position: fixed;
    top: 10px;
}